createdAt: "2018-10-05T16:24:27.932Z"
updatedAt: "2018-10-05T16:24:27.932Z"
type: "SNIPPET_NOTE"
folder: "9134109254af561f75e1"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('enjoy').innerHTML
      
      console.log(boostnote)
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
