createdAt: "2018-10-05T19:12:54.739Z"
updatedAt: "2018-10-05T21:44:59.691Z"
type: "MARKDOWN_NOTE"
folder: "b7b5328b056f052f5ef0"
title: "4.- Subqueries"
content: '''
  # 4.- Subqueries
  ***
  ![Subqueries](https://s3.amazonaws.com/dq-content/255/subquery_one.svg)
  
  ***
  ![Nest Operators](https://s3.amazonaws.com/dq-content/255/sqlite_operators.png)
  ***
  
  * `IN` operator, to use against a `WHERE` clause where there's a nested Query:
  
  ```SQL
  
  SELECT * FROM "table"
  WHERE "column" IN (SELECT "column1" - "column2" FROM "table")```
'''
tags: []
isStarred: false
isTrashed: false
